<!DOCTYPE html>
<html>
  <head>
    <title>Disclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', keyframes: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
      integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>

    <script type="text/javascript">
        window.liSVG = "<%= image_url('_li_.svg')%>"
        window.ghSVG = "<%= image_url('_gh_.svg')%>"
        window.android = "<%= image_url('android.svg')%>"
        window.bomb = "<%= image_url('bomb.svg')%>"
        window.circle = "<%= image_url('circle.svg')%>"
        window.coin = "<%= image_url('coin.svg')%>"
        window.computer = "<%= image_url('computer.svg')%>"
        window.controller = "<%= image_url('controller.svg')%>"
        window.dot = "<%= image_url('dot.svg')%>"
        window.flask = "<%= image_url('flask.svg')%>"
        window.floppy = "<%= image_url('floppy.svg')%>"
        window.headphones = "<%= image_url('headphones.svg')%>"
        window.iphone = "<%= image_url('iphone.svg')%>"
        window.laptop = "<%= image_url('laptop.svg')%>"
        window.question = "<%= image_url('question.svg')%>"
        window.speaker = "<%= image_url('speaker.svg')%>"
        window.square = "<%= image_url('square.svg')%>"
        window.triangle = "<%= image_url('triangle.svg')%>"
        window.underline = "<%= image_url('underline.svg')%>"
        window.x = "<%= image_url('x.svg')%>"
        window.staticdoge = "<%= image_url('staticdoge.png')%>"
        window.createServer = "<%= image_url('createServer.png')%>"
        window.joinServer = "<%= image_url('joinServer.png')%>"
        window.or = "<%= image_url('or.svg')%>"
        window.serverModalLeft = "<%= image_url('serverModalLeft.png')%>"
        window.serverModalRight = "<%= image_url('serverModalRight.png')%>"
        window.back = "<%= image_url('back.svg')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
